*.swp
*.pyc
*.swo
*.pyo
.tox
*.egg-info
*_db
.#*
\#*
*~
.sass-cache
static/scss/*.css
storage
media
dist
.noseids
.DS_Store
ve
.idea
.project
.pydevproject
.ropeproject
.settings
*.sublime-project
*.sublime-workspace
log
*.db
chromedriver.log
docs/_build
docs/javascript
docs/python
pinkflamingo/host_settings.py
pinkflamingo/local.py
pinkflamingo/_local_tests.py
pinkflamingo/_local_qunit_settings.py
pinkflamingo/settings/local/dev.py
pinkflamingo/settings/local/qunit.py
pinkflamingo/settings/local/tests.py
pinkflamingo/templates/nest/includes/timestamp.html
.pinkflamingo_qunit.db
pinkflamingo_qunit
.coverage
node_modules
npm-debug.log
.RData
.Rhistory
TAGS
TODO
work
serverconf/solr/conf/_rest_managed.json
Vagrantfile.local.json
.vagrant/
.zero-knife.rb
vagrant/.vagrant_first_provision.lock

Berksfile.lock
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
